In [1]:
from pymongo import MongoClient  
    

client=MongoClient()  
    
 
client = MongoClient("mongodb://localhost:27017/")  
    

mydatabase = client['Students']  
    
 
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

InsertManyResult([ObjectId('65e1d628acbe9da4fab76fa0'), ObjectId('65e1d628acbe9da4fab76fa1'), ObjectId('65e1d628acbe9da4fab76fa2'), ObjectId('65e1d628acbe9da4fab76fa3'), ObjectId('65e1d628acbe9da4fab76fa4'), ObjectId('65e1d628acbe9da4fab76fa5')], acknowledged=True)

In [2]:
agg_result = collection.aggregate(
    [{
        "$group" : 
        {"_id" : "$user",
         "Total Subject" : {"$sum" : 1}}
    }]
)
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [4]:
agg_result = collection.aggregate(
    [{
        "$group" : 
        {"_id" : "$user",
         "Total Marks" : {"$sum" : "$score"}}
    }]
)
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Marks': 250}
{'_id': 'Amit', 'Total Marks': 235}

In [6]:
agg_result = collection.aggregate(
    [{
        "$group" : 
        {"_id" : "$user",
         "Avg Score" : {"$avg" : "$score"}}
    }]
)
for i in agg_result:
    print(i)

{'_id': 'Amit', 'Avg Score': 78.33333333333333}
{'_id': 'Krish', 'Avg Score': 83.33333333333333}

In [7]:
import datetime

In [8]:
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [9]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2024, 3, 1, 13, 29, 41, 609826)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2024, 3, 1, 13, 29, 41, 609826)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2024, 3, 1, 13, 29, 41, 609826)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2024, 3, 1, 13, 29, 41, 609826)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2024, 3, 1, 13, 29, 41, 609826)}]

In [10]:
mycollection = mydatabase['stores']
mycollection.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [14]:
agg_result = mycollection.aggregate([
    {
        "$group": {
            "_id" : "$item",
            "avgAmount" : {"$avg" : {"$multiply" : [ "$price", "$quantity" ]}},
            "avgQuantity" : { "$avg" : "$quantity" }
                  }   
    }
]
)
for i in agg_result:
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

In [16]:
data = [{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5,
  "lastModified": "2016-07-28"
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2,
  "lastModified": "2017-07-21"
},
{
  "_id" : 3,
  "title": "Ice Cream Cakes",
  "isbn": "8888888888888",
  "author": { "last": "xyz", "first": "abc", "middle": "mmm" },
  "copies": 5,
  "lastModified": "2017-07-22"
}]

In [17]:
collection = mydatabase['books']

In [19]:
collection.insert_many(data)

InsertManyResult([1, 2, 3], acknowledged=True)

In [23]:
for row in collection.aggregate( [ { "$project" : { "title": 1, "isbn" : 1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}
{'_id': 3, 'title': 'Ice Cream Cakes', 'isbn': '8888888888888'}